@model IEnumerable<ProTechTiveGear.Models.OrderDetailEntity>
@{
    ViewBag.Title = "Bill";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Website bán đồ thể thao</title>

    <!-- Custom fonts for this template-->

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/sb-admin-2.min.css" rel="stylesheet" />

</head>

<body id="page-top" onload="window.print();">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2 class="text-center">Chi Tiết Đơn Hàng</h2>
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td style="width : 150px">
                            Khách hàng :
                        </td>
                        <td style="width : 250px">
                            @ViewBag.Order.Customer.Name
                        </td>
                        <td style="width : 150px">
                            Email :
                        </td>
                        <td>
                            @ViewBag.Order.Customer.EmailAddress
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số điện thoại :
                        </td>
                        <td>
                            @ViewBag.Order.Customer.Phone
                        </td>
                        <td>
                            Địa chỉ :
                        </td>
                        <td>
                            @ViewBag.Order.Customer.Address
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày đặt hàng :
                        </td>
                        <td>
                            @ViewBag.Order.Orderdate
                        </td>
                        <td>
                            Ngày giao hàng :
                        </td>
                        <td>
                            @ViewBag.Order.Deliverydate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tổng tiền :
                        </td>
                        <td>
                            @ViewBag.Order.Totalprice<span>.00</span>
                        </td>
                        <td>
                            Trạng thái :
                        </td>
                        <td>
                            @if (ViewBag.Order.Status == true)
                            {
                                <span>Đã xử lý</span>
                            }
                            else
                            {
                                <span>Chưa xử lý</span>
                            }
                        </td>
                    </tr>
                </table>
                <div class="card-header py-3">
                    <h4 class="text-center">Danh sách sản phẩm</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered"  width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Mã Đơn
                                </th>
                                <th>
                                    Tổng Giá
                                </th>
                                <th>
                                    Sản Phẩm
                                </th>
                                <th>
                                    Ảnh
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Totalprice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Item.Name)
                                    </td>
                                    <td>
                                        <img width="100" height="100" src="~/img/Item/@Html.DisplayFor(modelItem => item.Item.Picture)" />
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="~/Content/Admin/vendor/jquery/jquery.min.js"></script>


        <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->

        <script src="~/Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->

        <script src="~/Content/Admin/js/sb-admin-2.min.js"></script>
        <!-- Page level plugins -->

        <script src="~/Content/Admin/vendor/chart.js/Chart.min.js"></script>
        <!-- Page level custom scripts -->
        <script src="~/Content/Admin/js/demo/datatables-demo.js"></script>
        <script src="~/Content/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/Admin/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/Admin/js/demo/chart-pie-demo.js"></script>
    </body>

</html>

